$steel-blue: #4785c2ff;
$gold-metallic: rgb(255, 213, 60);
$flax: rgb(255, 237, 137);
$ivory: rgb(211, 206, 159);
$smoky-black: #120b08ff;

$bordervalues: 1px rgb(12, 12, 12) solid;

$basicdark: rgb(43, 43, 43);

body {
  background-color: rgb(14, 14, 14);
  margin: 0;
}

header {
  background-color: rgb(27, 27, 27);
}

main {
  min-height: 75vw;
  background-color: $basicdark;
}

footer {
  background-color: $flax;
}

#leaderboardContainer {
  padding: 20px;
  background-color: lighten($basicdark, 5%);

  caption {
    color: white;
  }

  p {
    margin: 0;
  }

  tr {
    & td,
    th {
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;
      background-color: $basicdark;

      color: white;
      border-bottom: none;

      &:first-child {
        border-right: 2px lighten($basicdark, 10%) solid;
      }

      &:last-child {
        border-left: 2px lighten($basicdark, 10%) solid;
      }
    }

    &:nth-child(even),
    &:only-child {
      & td,
      th {
        background-color: darken($basicdark, 5%);
      }
    }
  }
}

.playerRank {
  text-align: center;
  width: 10%;
}

.playerName {
  width: 75%;
}

.playerPoints {
  width: 15%;
  text-align: center;
}

$paginationColor: rgb(59, 59, 59);

#playerListPaginations {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;

  & .paginationActive {
    outline: 2px rgb(15, 15, 15) solid;
    font-weight: bold;
  }

  div {
    width: 100px;
    height: 30px;
    background-color: $paginationColor;
    text-align: center;
    border-radius: 5px;
    border: 1px rgb(29, 29, 29) solid;
    color: white;

    cursor: pointer;

    &:hover {
      background-color: darken($paginationColor, 10%);
    }

    &:active {
      background-color: darken($paginationColor, 15%);
    }

    padding: 2px;
  }
}

#seasonList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: baseline;
  align-items: baseline;
  gap: 10px;
  margin-bottom: 20px;
}

.seasonBtn {
  padding: 5px;
  background-color: darken($steel-blue, 10%);
  border: 2px darken($steel-blue, 40%) solid;
  border-radius: 5px;

  width: 19.3%;
  min-width: 100px;
  font-size: 20px;

  box-shadow: 0px 0px 0px 0px black;

  color: white;

  &:hover {
    background-color: darken($steel-blue, 20%);
  }

  &:active {
    background-color: darken($steel-blue, 30%);
  }
}

.venti-logo {
  width: 60px;
}

.venti-title {
  font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  color: rgb(190, 240, 241);
  -webkit-text-stroke: 1px black;
}