$steel-blue: #4785c2ff;
$gold-metallic: rgb(255, 213, 60);
$flax: rgb(255, 237, 137);
$ivory: rgb(211, 206, 159);
$smoky-black: #120b08ff;
$activeBtn: rgb(70, 155, 77);
$bordervalues: 1px rgb(12, 12, 12) solid;

$basicdark: rgb(43, 43, 43);

body {
  background-color: rgb(14, 14, 14);
  margin: 0;
}

header {
  background-color: rgb(27, 27, 27);
}

main {
  background-color: lighten($basicdark, 5%);
  min-height: 1200px;
}

footer {
  background-color: $flax;
}

.bg-main-dark {
  background-color: $basicdark;
}

#leaderboardContainer, #playerInfoContainer {
  padding: 20px;
  background-color: none;
  
  
  caption {
    color: white;
  }

  p {
    margin: 0;
  }

  tr {
    & td,
    th {
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;
      background-color: $basicdark;

      color: white;
      border-bottom: none;

      &:first-child {
        border-right: 2px lighten($basicdark, 10%) solid;
      }

      &:last-child {
        border-left: 2px lighten($basicdark, 10%) solid;
      }
    }

    &:nth-child(even),
    &:only-child {
      & td,
      th {
        background-color: darken($basicdark, 5%);
      }
    }
  }
}

.playerRank {
  text-align: center;
  width: 10%;
  min-width: 52.33px;
}

.playerName {
  width: 75%;
  min-width: 196.22px;

  :hover {
    text-decoration: underline;
  }
}

.playerPoints {
  width: 15%;
  min-width: 63.63px;
  text-align: center;
}

.playerButton {
  background-color: rgba(1,1,1,0);
  border: none;
  padding: 0;
  margin: 1px;
  margin-left: 4px;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

$paginationColor: rgb(59, 59, 59);

#playerListPaginations {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;

  & .paginationActive {
    outline: 2px rgb(15, 15, 15) solid;
    font-weight: bold;
  }

  div {
    width: 100px;
    height: 30px;
    background-color: $paginationColor;
    text-align: center;
    border-radius: 5px;
    border: 1px rgb(29, 29, 29) solid;
    color: white;

    cursor: pointer;

    &:hover {
      background-color: darken($paginationColor, 10%);
    }

    &:active {
      background-color: darken($paginationColor, 15%);
    }

    padding: 2px;
  }
}

#seasonList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 20px;

  gap: 10px;
}

.seasonBtn {
  padding: 5px;
  background-color: darken($steel-blue, 10%);
  border: none;
  outline: darken($steel-blue, 40%) solid 2px;
  border-radius: 5px;
  
  font-size: 20px;
  min-width: 160px;

  box-shadow: 0px 0px 0px 0px black;

  color: white;

  &:hover {
    background-color: darken($steel-blue, 20%);
  }

  &:active {
    background-color: darken($steel-blue, 30%);
  }

  &.seasonBtnActive {
    transition: ease-in-out 0.1s;
    outline: darken($steel-blue, 40%) solid 3px;
    background-color: darken($activeBtn, 10%);
    &:hover {
      background-color: darken($activeBtn, 15%);
    }
  
    &:active {
      background-color: darken($activeBtn, 25%);
    }

    &:focus {
      outline: darken($steel-blue, 40%) solid 3px;
    }
  }
}

.venti-logo {
  width: 60px;
}

.venti-title {
  font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  color: rgb(190, 240, 241);
  -webkit-text-stroke: 1px black;
}

.checkMark {
  font-size: 10px;
  margin-left: 5px;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

#playerInfoContainer {
  display: none;
  padding: 20px;
  background-color: lighten($basicdark, 5%);
}

.returnBtnContainer {
  height: 50px;
}

#returnBtn {
  background-color: $basicdark;
  border: 2px darken($basicdark, 15%) solid;
  border-radius: 7px;

  min-width: 240px;

  color: white;

  font-size: 30px;

  &:hover {
    background-color: darken($basicdark, 6%);
    border: 2px darken($basicdark, 20%) solid;
  }

  &:active {
    background-color: darken($basicdark, 10%);
    border: 3px darken($basicdark, 15%) solid;
  }
}

.seasonName {
  width: 50%;
}

.seasonPoints {
  width: 25%;
}

.seasonRole {
  width: 25%;
}

#seasonChart {
  min-height: 300px;
}