$steel-blue: #4785C2ff;
$gold-metallic: rgb(255, 213, 60);
$flax: rgb(255, 237, 137);
$ivory: rgb(211, 206, 159);
$smoky-black: #120B08ff;

$bordervalues: 1px rgb(12, 12, 12) solid;

body {
    background-color: white;
    margin: 0;
}

header {
    min-height: 50px;
    background-color: $gold-metallic;
}

main {
    min-height: 50vw;
    background-color: $ivory;
}

footer {
    min-height: 50px;
    background-color: $flax;
}

#leaderboardContainer {
    background-color: rgb(43, 43, 43);

    & #seasonList {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding: 20px;
        
        & button {
            border-radius: 5px;
            border: 2px darken(steelblue, 40%) solid;
            background-color: steelblue;
            min-width: 100px;
        }
        
    }

    & #playerList {

        & .playerRow {

            border-bottom: $bordervalues;
            border-left: $bordervalues;
            border-right: $bordervalues;      

            & :first-child {
                border-right: $bordervalues;
            }

            &:first-child {
                border-top: $bordervalues;
            }

            & #playerPoints, #playerName, #playerRank {
                color: rgb(230, 230, 230);
                font-weight: bold;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }

            & #playerRank {
                width: 50px;
                text-align: center;
            }

            & #playerPoints {
                min-width: 80px;
            }

            & #playerName {
                min-width: 230px;
            }

            & .playerPoints {
                text-align: end;
                color: rgb(230, 230, 230);

                font-family: monospace;
                min-width: 80px;
            }

            & .playerRank {
                text-align: center;
                color: rgb(230, 230, 230);

                font-family: monospace;
                width: 50px
            }

            & .playerName {
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-weight: bold;
                min-width: 230px;
            }
        }
    }
}



.playerRow {
    
}

.playerName {
    
}

.playerPoints {

}